.idea/
*.iml

# Ignore macOS system files
.DS_Store

# Ignore node dependencies
node_modules/

# Ignore Python cache
__pycache__/

# Ignore environment variables
.env

api_keys

# Ignore build output
dist/
build/

